* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*faz com que o navegador não calcule a dimensão de um elemento somando bordas e margens com altura e largura.*/
    font-family: 'Roboto';
    /*font escolhida padrão no link*/
}

.header-feed {
    background: black;
    height: 150px;
    
}

.logo-feed {
    width: 350px;


}

.form-feed {
    position: relative;
    
}

.fundo {
    position: absolute;
    width: 1000px;
    height: 800px;
    margin-left: 150px;
}


h4 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -150px;
    color: white;
    font-size: 40px;
    
}


.input-publish {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 60%;
    height: 100px;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    border-color: #F5B81D;
}

.conteudo {
    background-color: #ffe29a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 170px;
    margin-top: 30px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 60%;
    height: 100px;
    border-radius: 5px;
    text-align: center;
    font-family:"roboto";
}

.nome,.conteudoPag{
    font-family:"roboto";  
    font-size: 30px;

}
.conteudoPag{
    margin-top:8px;
}
.btn {
    position: relative;
    text-align: center;
    
    width: 80px;
    height: 30px;
    border-radius: 10px;
    left: 75%;
    transform: translate(-75%);
    top: 160px;
    cursor: pointer;
    background: #F5B81D;

}
.btnSair{
       position: relative;
        text-align: center;
        width: 80px;
        height: 30px;
        border-radius: 10px;
        left: 75%;
        transform: translate(-75%);
        top: -15px;
        cursor: pointer;
        background: #F5B81D;

}@media screen and (min-width: 270px) and (max-width:900px){
    
    .logo-feed{
       width: 30%;
    }
    .header-feed {
      
      height: 150%;
      width: 450px;
    }
    
    .fundo {
        
        width: 480px;
        height: 400px;
        margin-left: -40px;
    }

    
   h4 {
        
        margin-top: -40px;
        font-size: 20px;
        margin-left: 50px;
        
    }

    .input-publish {  
        margin-top: 10px;
        left: 50%;
        width: 86%;
        height: 80px;
        font-size: 20px;
    }

    .conteudo {
        top: 80px;
        width: 70%;
        height: 200px;
        border-radius: 2px;
    }

    .nome,.conteudoPag{
        font-size: 18px;
    
    }

    .btn {
        width: 55px;
        height: 28px;
        left: 80%;
        top: 100px;
    
    }
    .btnSair{
        width: 35px;
        height: 27px;
        border-radius: 10px;
        left: 52%;
        top: 15px;
    }
}